<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bookmarks
    <nav>
    <a routerLink="/searchpoc"><button>Search POC</button></a>
      <a routerLink="/atsearch"><button>At Search</button></a>
  </nav>

  </h1>
</div>
<div>
  <table width="100%">
    <tr>
      <td class="project-cell" width="30%">
        <app-projects></app-projects>
      </td>

      <td class="project-cell">
        <app-projectbookmark></app-projectbookmark>
      </td>

    </tr>
  </table>
</div>


